@import url("reset.css");
@import url("fonts.css");

body {
  font-family: "Lato", sans-serif;
  color: #2f302c;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1422px;
  padding: 0 15px;
  margin: 0 auto;
}

/* =========================== NAV-MENU ======================================== */

